<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929769570343-qdt8fh5u4ncm4d4pv5592p9puq0t9qa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929769570343-qdt8fh5u4ncm4d4pv5592p9puq0t9qa1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAk5OaAJfqIsdmzY-S1N9ru-L2IGB7e6E</string>
	<key>GCM_SENDER_ID</key>
	<string>929769570343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starswap.gif</string>
	<key>PROJECT_ID</key>
	<string>starswap-91cd8</string>
	<key>STORAGE_BUCKET</key>
	<string>starswap-91cd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929769570343:ios:072de7a828ed17aa4c0e02</string>
</dict>
</plist>